body {
  
  background-image:url(./images/image\ 7.png) ;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 80%;
  margin: 0 auto;
}
.nav{
  text-decoration: none;
  font-size: 20px;
  color: rgb(25, 17, 97);
  
  padding: 20px;
}
nav{
  margin: 50px;
  display: flex;
  justify-content: space-between;
}
.nav-btn{
  text-decoration: none;
  background-color: tomato;
  color: white;
  border: 0;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
}
header{
  font-size:x-large;
  color: tomato;
  font-weight: bolder;
  background-color: whitesmoke;
  border-radius: 25px;
  padding: 10px;
}
.nav-link{
  padding: 10px;
}
